
{% include 'components/prefetch_styles.twig' %}

<link href="{{subfolder}}/assets/vendor/jquery/jquery-ui.min.css" type="text/css" rel="stylesheet" />
<script src="{{subfolder}}/assets/vendor/jquery/jquery-3.4.1.min.js"></script>
<script src="{{subfolder}}/assets/vendor/jquery/jquery-ui.min.js"></script>


{{script|raw}}

<title data-headertemplate="{{headertemplate}}" data-subfolder="{{subfolder}}">
	{{template}} {{appName}}{{title}}
</title>