
{% include 'components/prefetch_styles.twig' %}

<script type="text/javascript">

window.$ = window.jQuery = window.parent.$;
</script>		


{{script|raw}}

<title data-headertemplate="{{headertemplate}}" data-subfolder="{{subfolder}}">
	{{template}} {{appName}}{{title}}
</title>