{{script_footer|raw}} 
{% if print_bottom_link == true %}
<a data-footertemplate="{{footer_template}}" href="#" class="bottom_link">{{lang.strgotoppage}}</a> 
{% endif %}

<!--</div>
</div>-->
<script>
/* beautify preserve:start */

window.stateObj = {
	{%	for key, value in params %}
	'{{key}}': "{{value}}",
	{% endfor %}
	method: '{{METHOD}}'
};
/* beautify preserve:end */
</script>

<script>
var dir = '{{lang.applangdir}}';
var in_test = '{{in_test}}';
var reload = '{{reload}}';

</script>